footer {
    background-color: darkturquoise;
    position: relative; 
    width: 100%;
    overflow: hidden;
    color: #333;

}

.legal-footer {
    margin: 1.5rem;
}

.footer-items {
    display:flex; 
    align-items: center; 
    justify-content:center;
    margin: 1rem;

}

.footer-items span {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.footer-items svg {
    margin: 0.5rem;
}

.legal-footer {
    position: relative; 
    align-items: center;
}
.centered {
    color: #FFF;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-40%, -30%);
}

.img-contact-form {
    width: 400px;
    height: 400px;
    display: flex;
   
}
.contact-form {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 1%;
    padding: 2%;

}

 .contact-container {  /* same as header-banner */
    /* display: grid;
    margin: 0%; */
    width: 100%;
    overflow: hidden;
    position: relative;
}

button.contact-button {
    background-color: #FFF;
    border-radius: 5px;
    margin: 35px 0px;
    padding: .375rem .75rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bold;
    font-size: 22px;
    width: 55%;
    
       
}

.contact-button:hover {
    background-color: rgb(19, 178, 178);
}

.contact-fluid {
    margin: 1%;
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    margin: 25px;
    text-align: center;
    width: 250px;
}

.contact-title {
    color: #FFF;
}

p.contact-text {
    color: #FFF;
}

.form-title {
    color: #FFF;
    font-size: 28px;
    font-weight: bold;
}

label {
    color: #FFF;
    display: block;
    font-size: 1.2rem;
    padding: 15px 0px 5px;
}

.input-form {
    border-radius: 5px;
    width: 100%;
    padding: 6px 15px;
}

.msg_area {
    border-radius: 5px;
    border-color: #999;
    width: 100%;
    padding: 6px 15px;
}

.header-banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.header-banner img {
    width: 100%;
}

.icon {
    background: url('images/3024068.png') no-repeat;
	background-size: 1000px 1000px;
	width: 96px;
	height: 96px;
}

.phone {
	background-position: -404px -248px;
}

.address {
	background-position: -404px -372px;
}

.email {
	background-position: -404px -744px;
}


img {
  width: 60%;
  align-self: center;
}

.card{
  border: rgb(103, 102, 105) 3px solid;
  display: flex;  
  flex-direction: column;
  margin-left:5%;
  margin-right:5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.row{
  display: flex;  
  flex: 1;
  flex-direction: row;
  margin: auto;
  margin-top: 1%;
  justify-content: center;
  padding:20px;
}

.container{
  justify-content: center;
}
.details{
  font-size: 20px;
  color: rgb(97, 64, 128);
  padding:20px;
}

.title{
  font-size: 20px;
  background-color: rgb(97, 64, 128);
  color: white;
  text-align: center;
  margin:20px;
  padding:5px;
}

.homepage_links{
  color:  rgb(97, 64, 128);
  padding: 25%;
  font-size: larger;
  }

.loginlink{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:1
}

.form_panel {
  padding:2%;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  text-align:center;
  box-shadow: 2px 2px 2px 3px #999;
  margin: auto;
  min-width: 350px;
  width: 80%;
  margin-top:3%;
  background-color: black;
}

.navitems{
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content: flex-start;
  justify-self: center;
}

.nav_item{
  margin-left:15px;
  font-size: 20px;
  color: black;
  align-self: center;
}

.username{
  font: 30px sans-serif;
  color:black;
  justify-content: 'flex-end';
  align-self:flex-end;
  vertical-align: middle;
}

.input_panel {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content:flex-end;
  align-items: flex-end;
  vertical-align: middle;
}

.small_header{
  font: 30px sans-serif;
  color:black;
  margin: .5cm;
}

.img_icon {
  align-self: center;
    width:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;  
}
